[submodule "everything-claude-code"]
	path = everything-claude-code
	url = https://github.com/affaan-m/everything-claude-code.git
[submodule "submodules/mdlm"]
	path = submodules/mdlm
	url = https://github.com/kuleshov-group/mdlm
[submodule "submodules/llada"]
	path = submodules/llada
	url = https://github.com/ML-GSAI/LLaDA
